 {% comment %}
snippet of code for the second part of nav of header in worshi kids.I will join this with the first snippet and form the section.
{% endcomment %}
 
 
 <div class="secondary_nav flex padding-top-20 ">
            <div class="nav-links">
                <a href="#">Song Tracks</a>
                <a href="#">Games</a>
                <a href="#">Kids Videos</a>
                <a href="#">Countdowns</a>
                <a href="#">Motions</a>
                <a href="#">Still Background</a>
                <a href="#">Curriculum</a>
                <a href="#">Seasonal</a>
                <a href="#">On Sale</a>
            </div>
            <button class="primary_button">WorshipHouse Media</button>
        </div>