 {% comment %}
snippet of code for the first part of nav of header in worshi kids.I will join this with the second snippet and form the section.
{% endcomment %}      
       <div class="nav-container margin-auto">
            <!-- mobile hamburger menu -->
            <div class="nav_menu_mobile">
                <img src="./images/hamburger_menu.png" alt="hamburger menu" class="menu-icon" />
                <img src="./images/x-vector.svg" alt="close menu" class="close-icon" />
                <div class="nav-links">
                    <a href="#">Song Tracks</a>
                    <a href="#">Games</a>
                    <a href="#">Kids Videos</a>
                    <a href="#">Countdowns</a>
                    <a href="#">Motions</a>
                    <a href="#">Still Background</a>
                    <a href="#">Curriculum</a>
                    <a href="#">Seasonal</a>
                    <a href="#">On Sale</a>
                </div>
            </div>

            <!-- desktop logo -->
            <div class="logo">
                <img src="./images/shero_logo.svg" alt="shero logo" />
            </div>
            <!-- mobile logo -->
            <img src="./images/mobile_logo.png" alt="homepage mobile logo" class="mobile_logo" />
            <!-- input button -->
            <div class="input_button search-bar hide-desktop">
                <input type="text" name="Find kids video" value="Find kids video" class="input_search" />
            </div>
            <div class="nav_buttons icon-shape ">
                <img src="./images/login.png" alt="user_login" />
                <img src="./images/shoppingCart.png" alt="shopping_Cart" class="shopping_cart" />

            </div>

        </div>
        <!-- input button -->
        <div class="input_button_mobile search-bar  display_none margin-top-20">
            <input type="text" name="Find kids video" value="Find kids video" class="input_search" />
        </div>